.about {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #16162d;
    background: white;
}


/* NAVBAR */

header {
    background: #05051b;
    color: white;

    padding: 18px 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span,
footer span {
    color: #6845ff;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-button {
    color: white;
    text-decoration: none;

    background: #6040ff;

    padding: 11px 18px;
    border-radius: 7px;
}


/* HERO */

.hero {
    min-height: 540px;

    padding: 80px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;

    background:
        linear-gradient(
            120deg,
            #05051b,
            #10062f,
            #210b54
        );
}

.hero-text {
    max-width: 600px;
}

.tag {
    display: inline-block;

    background: #5e3bff;

    padding: 8px 15px;

    border-radius: 20px;

    font-size: 13px;
    font-weight: bold;
}

.hero h1 {
    font-size: 70px;
    margin: 20px 0 5px;
}

.hero h1 span {
    color: #704bff;
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero-text > p:not(.tag) {
    color: #d3d3df;

    line-height: 1.7;

    margin-bottom: 30px;
}

.main-button {
    display: inline-block;

    background: #6140ff;

    color: white;

    text-decoration: none;

    padding: 14px 23px;

    border-radius: 8px;

    font-weight: bold;
}


/* HERO DESIGN */

.hero-design {
    width: 360px;
    height: 300px;

    position: relative;
}
.laptop {
   width: 260px;
    height: 170px;

    border: 3px solid #765aff;

    border-radius: 12px;

    background: #15152d;

    position: absolute;

}


/* ABOUT */

.about {
    padding: 70px 12%;

    display: flex;
    align-items: center;

    gap: 40px;
}

.about-icon {
    min-width: 120px;
    height: 120px;

    border-radius: 50%;

    background: #eeeaff;

    color: #5638ff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 42px;
}

.about-text {
    max-width: 650px;
}

.about-text h2 {
    margin-bottom: 15px;
}

.about-text p {
    line-height: 1.7;
    margin-bottom: 10px;
}


/* WHY */

.why {
    background: #faf9ff;

    padding: 70px 8%;
}

.why > h2 {
    text-align: center;
    margin-bottom: 40px;
}

.features {
    display: flex;

    justify-content: center;

    gap: 30px;
}

.feature-card {
    width: 30%;

    padding: 30px;

    text-align: center;
}

.feature-icon {
    font-size: 40px;

    color: #5c3dff;

    margin-bottom: 15px;
}

.feature-card h3 {
    margin-bottom: 10px;
}

.feature-card p {
    line-height: 1.6;
}


/* SPEAKERS */

.speakers {
    padding: 80px 7%;

    background: #f6f4ff;
    background-image: linear-gradient(
        rgba(5,4,10,0.25),
        rgba(5,4,10,0.25)
    ),
    url("nimbus-cyber-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.speakers > h2 {
    text-align: center;

    margin-bottom: 10px;
}

.section-text {
    text-align: center;

    margin-bottom: 40px;

    color: #666;
}

.speaker-container {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 25px;
}

.speaker-card {
    width: 220px;

    min-height: 220px;

    padding: 25px 15px;

    background: white;

    border-radius: 12px;

    text-align: center;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.10);

    transition: 0.3s;
}

.speaker-card:hover {
    transform: translateY(-8px);
}

.profile {
    width: 90px;
    height: 90px;

    margin: 0 auto 18px;

    border-radius: 50%;
    overflow: hidden;
    background: #eee;
    object-fit:cover;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    font-weight: bold;
}

.speaker-card h3 {
    margin-bottom: 8px;
}

.speaker-card p {
    color: #666;

    font-size: 14px;
}


/* SCHEDULE */

.schedule {
    padding: 70px 5%;
}

.schedule > h2 {
    text-align: center;

    margin-bottom: 45px;
}

.timeline {
    display: flex;

    justify-content: center;

    gap: 10px;
}

.event {
    width: 16%;

    text-align: center;

    padding: 15px;
}

.event strong {
    color: #5c3dff;
}

.event h3 {
    margin: 15px 0 8px;

    font-size: 16px;
}

.event p {
    font-size: 13px;

    color: #666;

    line-height: 1.5;
}


/* CTA */

.cta {
    padding: 45px 10%;

    background: linear-gradient(
        100deg,
        #4b20ff,
        #714cff
    );

    color: white;

    display: flex;

    align-items: center;

    justify-content: space-between;
}

.cta p {
    margin-top: 8px;
}

.cta-button {
    text-decoration: none;

    background: white;

    color: #5638ff;

    padding: 13px 22px;

    border-radius: 8px;

    font-weight: bold;
}


/* FOOTER */

footer {
    background: #05051b;

    color: white;

    padding: 50px 7%;

    display: flex;

    justify-content: space-between;

    gap: 40px;
}

.footer-box {
    max-width: 240px;
}

.footer-box h2,
.footer-box h3 {
    margin-bottom: 15px;
}

.footer-box p {
    color: #c4c4d2;

    line-height: 1.8;

    font-size: 14px;
}

.copyright {
    text-align: center;

    background: #03030e;

    color: #aaa;

    padding: 18px;

    font-size: 13px;
}


/* ANIMATION */

@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }

}


/* RESPONSIVE */

@media (max-width: 900px) {

    header {
        flex-direction: column;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;

        text-align: center;

        gap: 50px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .features {
        flex-direction: column;

        align-items: center;
    }

    .feature-card {
        width: 90%;
    }

    .timeline {
        flex-direction: column;

        align-items: center;
    }

    .event {
        width: 90%;
    }

    .cta {
        flex-direction: column;

        gap: 25px;

        text-align: center;
    }

    footer {
        flex-wrap: wrap;
    }
}


@media (max-width: 600px) {

    .hero-design {
        transform: scale(0.8);
    }

    .about {
        flex-direction: column;

        text-align: center;
    }

    .speaker-card {
        width: 90%;
    }

    footer {
        flex-direction: column;

        text-align: center;

        align-items: center;
    }

}